<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Scheduler" type="Baumax.Scheduler.Config.SchedulerSection, Baumax.Scheduler, Version=1.0.21.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <Scheduler Login="scheduler" Password="rwops1">
    <Jobs>
      <clear />
      <add Name="importJob" TypeName="Baumax.Scheduler.Job"
           Config="Name=importJob;Active=True;ParallelRunEnabled=False;OnErrorTask=;StopOnError=False;Tasks=CountryImport:RegionImport:StoreImport:WorldImport:HwgrImport:WgrImport:WorkingDaysImport:FeastImport:EmployeeImport:LongTimeAbsenceImport:AbsenceImport:TimePlanningImport:TimeRecordingImport:ActualBusinessVolumeImport:TargetBusinessVolumeImport:CashRegisterReceiptImport;" />
      <add Name="deleteFilesOutOfDateJob" TypeName="Baumax.Scheduler.Job"
           Config="Name=deleteFilesOutOfDateJob;Active=True;ParallelRunEnabled=False;OnErrorTask=;StopOnError=False;Tasks=DeleteFilesOutOfDateTask;" />
    </Jobs>
    <Tasks>
      <clear />
      <add Name="CountryImport" TypeName="Baumax.Scheduler.Specialized.CountryImportTask" Config="Name=CountryImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="RegionImport" TypeName="Baumax.Scheduler.Specialized.RegionImportTask" Config="Name=RegionImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="StoreImport" TypeName="Baumax.Scheduler.Specialized.StoreImportTask" Config="Name=StoreImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="WorldImport" TypeName="Baumax.Scheduler.Specialized.WorldImportTask" Config="Name=WorldImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="HwgrImport" TypeName="Baumax.Scheduler.Specialized.HwgrImportTask" Config="Name=HwgrImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="WgrImport" TypeName="Baumax.Scheduler.Specialized.WgrImportTask" Config="Name=WgrImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="WorkingDaysImport" TypeName="Baumax.Scheduler.Specialized.WorkingDaysImportTask" Config="Name=WorkingDaysImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="FeastImport" TypeName="Baumax.Scheduler.Specialized.FeastImportTask" Config="Name=FeastImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="EmployeeImport" TypeName="Baumax.Scheduler.Specialized.EmployeeImportTask" Config="Name=EmployeeImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="LongTimeAbsenceImport" TypeName="Baumax.Scheduler.Specialized.LongTimeAbsenceImportTask" Config="Name=LongTimeAbsenceImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="AbsenceImport" TypeName="Baumax.Scheduler.Specialized.AbsenceImportTask" Config="Name=AbsenceImport;Active=True;ParallelRunEnabled=False;" />
      <!--Not active--><add Name="TimePlanningImport" TypeName="Baumax.Scheduler.Specialized.TimePlanningImportTask" Config="Name=TimePlanningImport;Active=False;ParallelRunEnabled=False;" />
      <add Name="TimeRecordingImport" TypeName="Baumax.Scheduler.Specialized.TimeRecordingImportTask" Config="Name=TimeRecordingImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="ActualBusinessVolumeImport" TypeName="Baumax.Scheduler.Specialized.ActualBusinessVolumeImportTask" Config="Name=ActualBusinessVolumeImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="TargetBusinessVolumeImport" TypeName="Baumax.Scheduler.Specialized.TargetBusinessVolumeImportTask" Config="Name=TargetBusinessVolumeImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="CashRegisterReceiptImport" TypeName="Baumax.Scheduler.Specialized.CashRegisterReceiptImportTask" Config="Name=CashRegisterReceiptImport;Active=True;ParallelRunEnabled=False;" />
      <add Name="DeleteFilesOutOfDateTask" TypeName="Baumax.Scheduler.Specialized.DeleteFilesOutOfDateTask" Config="Name=DeleteFilesOutOfDateTask;Active=True;ParallelRunEnabled=False;" />
    </Tasks>
    <Triggers>
      <clear />
      <add Name="DailyImport" TypeName="Baumax.Scheduler.Specialized.DailyTrigger"
        Config="Name=DailyImport;Active=True;Start=28/01/2008 17:40:00;Jobs=importJob;" />
      <add Name="DailyDeleteFilesOutOfDate" TypeName="Baumax.Scheduler.Specialized.DailyTrigger"
        Config="Name=DailyDeleteFilesOutOfDate;Active=True;Start=27/02/2008 17:48:00;Jobs=deleteFilesOutOfDateJob;" />
    </Triggers>
  </Scheduler>
</configuration>